<form name="memoForm">
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Name</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" ng-model="form.name" required>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Content</label>
        </div>
        <div class="small-9 columns">
          <textarea type="text" id="right-label" ng-model="form.content" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-offset-2 columns">
          <div data-alert class="alert-box alert" ng-show="error">{{error}}</div>
        </div>
        <div class="small-2 columns">
          <input type="submit" class="button small" ng-disabled="memoForm.$invalid" ng-click="saveMemo()" value="Add">
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row" ng-repeat="memo in memos">
  <div class="small-4 columns">
    {{memo.name}}
  </div>
  <div class="small-8 columns">
    {{memo.content}}
  </div>
</div>
